.vscode/
build/
*.txt
!CMakeLists.txt
*.pdf
*.zip

data/
*.tgz
tmp/
FreeImage/
CMakeFiles/


# exe4
!exe4/results/output_*.txt

# exe5
exe5/Flann/flann/
exe5/results/*.off

#final
final/detector_compare/
